@{
    ViewBag.Title = "Sobre nosotros";
}
<h2 class="text-center">@ViewBag.Title.</h2>


<div class="row justify-content-center m-3 text-lg-center text-center">
    <p>
        <img src="~/Content/img/Perfil.jpg" width="800" class="img-thumbnail" alt="Cinque Terre">
    </p>
</div>

<div>
    <p>
        <h2 class="text-center">
            <br />
            El fin de la práctica era personalizar las vistas principales de una página con temática de veterinaria <br />
            Esta práctica fue realizada por: <br />David Antonio Flores Águila
            <br /> # de control: 17211669
        </h2>
    </p>
</div>