@{
    ViewBag.Title = "Contáctanos";
}
<h2 class="text-center">@ViewBag.Title.</h2>



<div class="row justify-content-center m-3 text-lg-center">

    <div class="card m-4" style="width: 18rem;">
        <img src="~/Content/img/Perfil.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Director general</h5>
            <strong> Alumno:</strong> David Antonio FLores Águila<br />
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="glyphicon glyphicon-indent-left"></span><strong> Número de control:</strong> 17211669<br /></li>
            <li class="list-group-item"><strong>Carrera:</strong> Informática<br /></li>
            <li class="list-group-item">
                <strong>Dirección:</strong> Instituto Tecnológico de Tijuana<br />
                Calzada Del Tecnológico S/N, Fraccionamiento Tomas Aquino. Tijuana, Baja California. C.P. 22414<br /><br />
            </li>
            <li class="list-group-item"><strong>Teléfono:</strong> 664 900 10 11<br /></li></li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">david.flores17@tectijuana.edu.mx</a>
            <a href="#" class="card-link"><br />www.facebook.com</a>
        </div>
    </div>

    <div class="card m-4" style="width: 18rem;">
        <img src="~/Content/img/Perfil 3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Veterinario</h5>
            <strong> Nombre:</strong> Quique<br />
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="glyphicon glyphicon-indent-left"></span><strong> Número de control:</strong> 17211668<br /></li>
            <li class="list-group-item"><strong>Carrera:</strong> Informática<br /></li>
            <li class="list-group-item">
                <strong>Dirección:</strong> Instituto Tecnológico de Tijuana<br />
                Calzada Del Tecnológico S/N, Fraccionamiento Tomas Aquino. Tijuana, Baja California. C.P. 22414<br /><br />
            </li>
            <li class="list-group-item"><strong>Teléfono:</strong> 664 900 10 11<br /></li></li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">correo@gmail.com</a>
            <a href="#" class="card-link"><br />www.facebook.com</a>
        </div>
    </div>

    <div class="card m-4" style="width: 18rem;">
        <img src="~/Content/img/Perfil 2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entrenador</h5>
            <strong> Nombre:</strong> Lalo<br />
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="glyphicon glyphicon-indent-left"></span><strong> Número de control:</strong> 17211667<br /></li>
            <li class="list-group-item"><strong>Carrera:</strong> Informática<br /></li>
            <li class="list-group-item">
                <strong>Dirección:</strong> Instituto Tecnológico de Tijuana<br />
                Calzada Del Tecnológico S/N, Fraccionamiento Tomas Aquino. Tijuana, Baja California. C.P. 22414<br /><br />
            </li>
            <li class="list-group-item"><strong>Teléfono:</strong> 664 900 10 11<br /></li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">correo@gmail.com</a>
            <a href="#" class="card-link"><br />www.facebook.com</a>
        </div>
    </div>


</div>
